#graph {
    position: relative;
    top: -800px;
    left : 200px;
    z-index: -1;

}
body{
    background-color:#eaeaea
}

.search-bar{
    position: relative;
    right: -400px;
    top: -30px;
}

button , input{
    position: relative;
    right: -800px;
    top: -60px;
    border-radius: 5px;
    height: 30px;
    z-index:9999999999;
}
input{
    width: 300px;

}
.navbar{
    background-color: #0077ff;
    border-radius: 0px;
    z-index:999999;
   
}

a {
    color:white
}
.iconImg{
    width:150px;
    height: 150px;
    z-index: -1;
    position: relative;
    left: -200px;
}
#Name{
    position: relative;
    left: -20px;
    top: -151px;
    font-size: 35px;
    font-weight: bold;
}
.lvimg{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -11px;
    margin-left: -735px;
    width: 44px;
    height: 24px;
    padding-top: 3px;
    box-sizing: border-box;
    background: url(https://pub-static.haozhaopian.net/assets/stickers/drawPolygon_10/aca1b8b1-5e4e-4be0-87a1-14ca67e00d10_medium_thumb.jpg);
    background-size: 100%;
    line-height: 17px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
}

.rank{
    position: relative;
    left: 220px;
    top: -120px;
}

.rankimg{
    width: 120px;
    height: 120px;
    position: relative;
    left: -48px;
    top: 170px;

}
.rankinfo{
    position: absolute;
    left:80px;
    font-size:15px;
    font-weight: bold;
    top: 220px;
}

.champimg{
    z-index:-1;
    position: relative;
    top:-39px;
}

.masteryImg{
    z-index: 99;
    position: relative;
    left: -215px;
    top: 42px;
    height: 30%;
    width: 35%;
    margin: -50px;
    margin-top: -130px;
}

.champname{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: -100px;
    bottom: -73px;
}

#wrapper .text {
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
    }
    
    #wrapper:hover .text {
    visibility:visible;
    color:rgb(255, 154, 59);
    font-size:20px;
    font-weight:bold;
    position:relative;
    top: -170px;
    left:30px;
    z-index: 99999;
    }

   #lol{
       width:100%;
       position: relative;
       top:-20px;
   }

   #logo {
       position: absolute;
       top:60px;
       right: 260px;
       width:65%;
       height:100%;
   }


   #region{
       position: relative;
       right: -716px;
       top: -88px;
       z-index: 9999999999;
       height: 28px;
       width: 80px;

   }

   .match {
       margin-top: 20px;
   }
   hr {
  border-top: 1px solid black;
  
  position: absolute;
  width: 300%;
 right: 00px;
}

#match_information{
    font-weight: bold;
    font-size:15;
}